{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="custom-container">

        <div class="filters">
            <div class="filter-group">
                {% if user.is_staff %}
                    <label for="employee-filter">Сотрудник:</label>
                    <select id="employee-filter" class="filter-input" name="employee_filter">
                        <option value="">Все сотрудники</option>
                        {% for emp in employees %}
                            <option value="{{ emp.id }}" {% if current_filters.employee == emp.id|stringformat:"s" %}selected{% endif %}>{{ emp.username }}</option>
                        {% endfor %}
                    </select>
                {% elif user.is_authenticated %}
                    <label for="employee-display">Сотрудник:</label>
                    <select id="employee-display" class="filter-input" disabled>
                        <option selected>{{ user.username }}</option>
                    </select>
                {% endif %}
            </div>

            <div class="filter-group">
                <label for="start-date">Начало периода:</label>
                <input type="date" id="start-date" class="filter-input" value="{{ current_filters.start_date|default:'' }}">
            </div>

            <div class="filter-group">
                <label for="end-date">Конец периода:</label>
                <input type="date" id="end-date" class="filter-input" value="{{ current_filters.end_date|default:'' }}">
            </div>

            <button id="apply-filters-btn" class="filter-button">
                <i class="fas fa-filter"></i> Применить
            </button>

            {% if user.is_staff %}
                <a href="{% url 'export_timesheet_excel' %}" class="button" style="margin-bottom: 0px">
                    <i class="fas fa-file-excel"></i> Экспорт в Excel
                </a>
            {% endif %}

        </div>

        <button id="add-row-btn" class="button" type="button">
            <i class="fa-duotone fa-solid fa-plus"></i>
        </button>
        <table id="timesheet-table" class="time-table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Сотрудник</th>
                    <th>Проект</th>
                    <th>Кол-во часов</th>
                    <th>Комментарий</th>
                    <th>Статус подтверждения</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% if timeSheet %}
                    {% for item in timeSheet %}
                        <tr data-id="{{ item.id }}">
                            <td>{{ item.date|date:"Y-m-d" }}</td>
                            <td>{{ item.worker.username }}</td>
                            <td>{{ item.project.name }}</td>
                            <td>{{ item.hours_number }}</td>
                            <td>{{ item.comment }}</td>
                            <td>
                                {% if request.user.is_staff %}
                                    {% if item.approval_status == ApprovalStatus.PENDING %}
                                        <button class="button approve-btn" data-id="{{ item.id }}" title="Подтвердить">
                                            <i class="fas fa-check"></i>
                                        </button>
                                        <button class="button reject-btn" data-id="{{ item.id }}" title="Отклонить">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    {% else %}
                                        {{ item.approval_status }}
                                    {% endif %}
                                {% else %}
                                    {{ item.approval_status }}
                                {% endif %}
                            </td>
                            <td>
                                <button class="button edit-row-btn" title="Редактировать">
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                                <button class="button delete-row-btn" title="Удалить">
                                     <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="7"><p style="text-align: center; padding: 10px;">Пока нет записей</p></td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <script>
        window.projectsData = [
            {% for project in projects %}
                { id: "{{ project.id }}", name: "{{ project.name|escapejs }}" },
            {% endfor %}
        ];
        window.csrfToken = "{{ csrf_token }}";
        window.addEntryUrl = "{% url 'timesheet_add' %}";
        window.currentUserUsername = "{{ user.username|escapejs }}";
        window.deleteEntryUrlTemplate = "{% url 'timesheet_modify' 0 %}";
        window.updateEntryUrlTemplate = "{% url 'timesheet_modify' 0 %}";
    </script>
    <script type="module" src="{% static 'main/js/table/main.js' %}"></script>

{% endblock %}
