{% extends 'main/layout.html' %}

{% block title %}
    <h1> Главная страница</h1>
{% endblock %}

{% block content %}
    <!DOCTYPE html>
<html lang="ru">
    <div class="container">

        <div class="filters">
            <div class="filter-group">
                <label for="employee">Сотрудник:</label>
                <select id="employee" class="filter-input">
                    <option value="">Все сотрудники</option>
                    <option value="1">Иванов И.И.</option>
                    <option value="2">Петров П.П.</option>
                    <option value="3">Сидоров С.С.</option>
                </select>
            </div>

            <div class="filter-group">
                <label for="start-date">Начало периода:</label>
                <input type="date" id="start-date" class="filter-input">
            </div>

            <div class="filter-group">
                <label for="end-date">Конец периода:</label>
                <input type="date" id="end-date" class="filter-input">
            </div>

            <button class="filter-button">
                <i class="fas fa-filter"></i> Применить
            </button>

        </div>

        <button class="button">
            <i class="fa-duotone fa-solid fa-plus"></i>
        </button>

        <table class="time-table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Сотрудник</th>
                    <th>Проект</th>
                    <th>Кол-во часов</th>
                    <th>Комментарий</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2023-10-15</td>
                    <td>Иванов</td>
                    <td>Веб-сайт компании</td>
                    <td>4.5</td>
                    <td>Разработка главной страницы</td>
                    <td>
                        <button class="button">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button class="button">
                             <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}